*{
	margin: 0;
	padding: 0;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
.header {
	height: 102px;
	/*background-color: pink;*/
}
.header .logo {
	float: left;
	margin: 26px 0px;
	width: 197px;
	height: 50px;
}
.header .nav {
	float: left;
	margin: 41px 0px 37px 73px;
 /*   background-color: blue;*/
    width: 240px;
}
.nav > a {
	text-decoration: none;
	font-size: 18px;
	margin-right: 40px ;
}
.header .nav a:hover {
	border-bottom: 2px solid #00a4ff;
}
.nav .p3 {
	margin-right: 0px;
}
.header .search {
	float: left;
	margin: 30px 0px 30px 89px;
	width: 411px;
}
.header .search input {
	float: left;
	padding-left: 18px;
	border: 1px solid #00a4ff;
	border-right: 0;
	height: 39px; 
	width: 342px;
	color: #bfbfbf;
}
.header .search button {
	float: left;
	border: 1px solid #00A4FF;
	background-image: url(../img/学成网首页_03.png);
	height: 41px;
	width: 50px;
}
 .header .user {
 	float: left;
 	margin: 34px 0px 32px 28px;
 	width: 120px;
 	height: 34px;
 	background-image:url(../img/学成网首页_06.png);
 	background-color: blue;
 }
 /*广告模块*/
.banner {
	width: 100%;
	height: 420px;
	background-color: #1c036c;
	background-image: url(../img/content_09.png);
	background-position: center;
}
.banner .sidebar {
	float: left;
	margin-left: 159px;
	height: 420px;
	width: 190px;
	background: rgba(0,0,0,0.2);
}
.banner .sidebar li {
	list-style: none;
	padding-left: 20px;
	padding-top:24px ;
}
.banner .sidebar .li1 {
	padding-top:17px ;
}
.banner .sidebar a{
	font-size: 14px;
	text-decoration: none;
	color:#e9e9ec;
}
.banner .sidebar span {
	padding-left: 83px;
	font-size: 14px;
}
.banner .sidebar .s5 {
	padding-left: 41px;
}
.banner .sidebar .s6 {
	padding-left: 57px;
}
.banner .sidebar .s7 {
	padding-left: 96px;
}
.banner .sidebar .s8 {
	padding-left: 111px;
}
.banner .sidebar a:hover {
	color: #0393d9;
}
.banner .timetable {
	float: right;
	margin: 49px 165px 0 0;
	width: 230px;
	height: 300px;
	background-color: white;
}
.banner .timetable .classtop {
	text-align: center;
	height: 47px;
	font-size: 17px;
	background-color: #9bceea;
	color: #ffffff;
	line-height: 47px;
}
.banner .studyclass {
	margin: 19px 19px 0 18px;
	width: 191px;
	height: 176px;
}
.banner .studyclass li{
	list-style: none;
	font-size: 16px;
	padding-top:16px ;
}
.banner .studyclass .li1 {
	padding-top: 0px;
}
.banner .studyclass p {
	font-size: 12px;
	color: #bfbfbf;
	height: 26px;
	border-bottom: 1px solid;
}
.banner  .timetable a{
	display: block;
	margin: 6px 14px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	color: #00a4ff;
	height: 38px;
	width: 198px;
	line-height: 38px;
	border: 2px solid #00A4FF;
}
/*精品推荐模块*/
.goods {
	margin-top: 8px;
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,.1);
	height: 60px;
	background-color: #FFFFFF;
}
.goods h3 {
	float: left;
	margin: 21px 0px 23px 0px;
	border-right:1px solid #bfbfbf ;
	text-align: center;
	width: 131px;
	color: #00a4ff;
}
.goods ul {
	float: left;
}
.goods ul li{
	display: inline-block;
	margin: 21px 0px 23px 30px;
	border-right: 1px solid #bfbfbf;
	width: 91px;
}
.goods ul a {
	text-decoration: none;
	color: #5a5a5a;
}
.goods .changehobby {
	float: right;
	margin: 21px 25px 23px 0px;
	text-decoration: none;
	color: #42b2ff
}

/*精品推荐大模板*/
.goodsbig {
	margin-top: 35px;
	height: 632px;
	
}
.goodsbig .goods1 {
	height: 42px;
}
.goodsbig .goods1 h3 {
	float: left;
	font-size: 20px;
	font-weight: 400;
}
.goodsbig .goods1 a {
	text-decoration: none;
	float: right;
	margin: 10px 30px 16px 0;
	font-size: 12px;
	color: #d6d7d9;
}
.goodsbig .courses>div {
	float: left;
	margin: 0 15px 14px 0px ;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,.1);
	width: 228px;
	height: 269px;
}
.goodsbig  .courses .courses1 {
	background-image: url(../img/course1.png);
	background-repeat: no-repeat;
}
.goodsbig  .courses ul {
	margin: 177px 0px 0px 23px;
	width: 186px;
	height: 65px;
	font-size: 14px;
}
.goodsbig  .courses  li {
	display: inline-block;
	
}
.goodsbig  .courses .gaoji {
	margin-top:18px ;
	color: #ff7c2d;
}
.goodsbig  .courses .courses1 .studynum {
	color: #999999;
}
.goodsbig  .courses .courses2 {
	background-image: url(../img/course2.png);
	background-repeat: no-repeat;
}
.goodsbig  .courses .courses3 {
	background-image: url(../img/course3.png);
	background-repeat: no-repeat;
}
.goodsbig  .courses .courses4 {
	background-image: url(../img/course4.png);
	background-repeat: no-repeat;
}
.goodsbig  .courses .courses5 {
	background-image: url(../img/course4.png);
	background-repeat: no-repeat;
	margin-right:0 ;
}
.goodsbig  .courses .courses6 {
	background-image: url(../img/course1.png);
	background-repeat: no-repeat;
}
.goodsbig  .courses .courses7 {
	background-image: url(../img/course2.png);
	background-repeat: no-repeat;
}
.goodsbig  .courses .courses8 {
	background-image: url(../img/course3.png);
	background-repeat: no-repeat;
}
.goodsbig  .courses .courses9 {
	background-image: url(../img/course4.png);
	background-repeat: no-repeat;
}
.goodsbig  .courses .courses10 {
	background-image: url(../img/course4.png);
	background-repeat: no-repeat;
	margin-right:0 ;
}

/*编程入门*/
.biancheng {
	height: 472px;
}
.biancheng .biancheng_top h3 {
	float: left;
	font-weight: 400;
	height: 38px;
}
.biancheng .biancheng_top ul {
	float: left;
	margin-left: 346px;
	height: 38px;
	width: 346px;

}
.biancheng .biancheng_top ul li{
	display: inline-block;
	margin-right: 67px;
	font-size: 16px;
	color: #868686;
}
.biancheng .biancheng_top li:hover {
	color: #00a4ff;
}
.biancheng .biancheng_top .li4 {
	margin-right: 0;
}
.biancheng .biancheng_top a {
	float: right;
	margin: 4px 30px 0 0;
	text-decoration: none;
	font-size: 12px;
	color: #a5a5a5;
}
.biancheng .biancheng_left {
	clear: left;
	float: left;
	height: 393px;
	width: 229px;
}
.biancheng .biancheng_rightTop {
	float: left;
	margin-left: 14px;
	height: 100px;
	width: 957px;
}
.biancheng  .biancheng_right {
	list-style: none;
	float: left;
	margin: 23px 0 0 15px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,.1);
	height: 269px;
	width: 227px;
}
.biancheng ul li img {
	width: 100%;
}
.biancheng ul li h4 {
	margin: 23px 18px 17px 22px;
	font-weight: 400;
	font-size: 14px;
	width: 187px;
	height: 37px;
}
.biancheng .biancheng_right div {
	font-size: 12px;
	margin-left: 21px;
}
.biancheng .biancheng_right span {
	color: #ff9159;
}

/*数据分析师*/
.shuju {
	height: 472px;
}
.shuju .shuju_top h3 {
	float: left;
	font-weight: 400;
	height: 38px;
}
.shuju .shuju_top ul {
	float: left;
	margin-left: 346px;
	height: 38px;
	width: 346px;

}
.shuju .shuju_top ul li{
	display: inline-block;
	margin-right: 67px;
	font-size: 16px;
	color: #868686;
}
.shuju .shuju_top li:hover {
	color: #00a4ff;
}
.shuju .shuju_top .li4 {
	margin-right: 0;
}
.shuju .shuju_top a {
	float: right;
	margin: 4px 30px 0 0;
	text-decoration: none;
	font-size: 12px;
	color: #a5a5a5;
}
.shuju .shuju_left {
	clear: left;
	float: left;
	height: 393px;
	width: 229px;
}
.shuju .shuju_rightTop {
	float: left;
	margin-left: 14px;
	height: 100px;
	width: 957px;
}
.shuju  .shuju_right {
	list-style: none;
	float: left;
	margin: 23px 0 0 15px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,.1);
	height: 269px;
	width: 227px;
}
.shuju ul li img {
	width: 100%;
}
.shuju ul li h4 {
	margin: 23px 18px 17px 22px;
	font-weight: 400;
	font-size: 14px;
	width: 187px;
	height: 37px;
}
.shuju .shuju_right div {
	font-size: 12px;
	margin-left: 21px;
}
.shuju .shuju_right span {
	color: #ff9159;
}

/*机械学习工程师*/
.jixie {
	height:349px ;
}
.jixie .jixie_top {
	width: 1200px;
	float: left;
}
.jixie .jixie_top h3 {
	float: left;
	height: 45px;
	font-weight: 400;
}
.jixie .jixie_top ul {
	float: left;
	margin:4px 0px 0px 289px ;
	height: 41px;
	width: 353px;
}
.jixie .jixie_top ul li {
	display: inline-block;
	margin-right: 70px;
	color: #b6b7b8;
}
.jixie .jixie_top .li4 {
    margin-right: 0;
}
.jixie .jixie_top a {
	float: right;
	margin: 7px 31px 0 0;
	font-size: 12px;
	text-decoration: none;
	color: #b6b7b8;
}
.jixie .jixie_center ul li{
	float: left;
	margin-right: 15px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,.1);
	list-style: none;
	height: 269px;
	width: 227px;
}
.jixie .jixie_center .li1 {
	width: 228px;
} 
.jixie .jixie_center .li5 {
	margin-right: 0;
}
.jixie .jixie_center img {
	width: 100%;
}
.jixie ul li h4 {
	margin: 23px 18px 17px 22px;
	font-weight: 400;
	font-size: 14px;
	width: 187px;
	height: 37px;
}
.jixie .jixie_center div {
	font-size: 12px;
	margin-left: 21px;
}
.jixie .jixie_center span {
	color: #ff9159;
}

/*前端开发工程师*/
.web {
	height:349px ;
}
.web .web_top {
	width: 1200px;
	float: left;
}
.web .web_top h3 {
	float: left;
	height: 45px;
	font-weight: 400;
}
.web .web_top ul {
	float: left;
	margin:4px 0px 0px 289px ;
	height: 41px;
	width: 353px;
}
.web .web_top ul li {
	display: inline-block;
	margin-right: 70px;
	color: #b6b7b8;
}
.web .web_top .li4 {
    margin-right: 0;
}
.web .web_top a {
	float: right;
	margin: 7px 31px 0 0;
	font-size: 12px;
	text-decoration: none;
	color: #b6b7b8;
}
.web .web_center ul li{
	float: left;
	margin-right: 15px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,.1);
	list-style: none;
	height: 269px;
	width: 227px;
}
.web .web_center .li1 {
	width: 228px;
} 
.web .web_center .li5 {
	margin-right: 0;
}
.web .web_center img {
	width: 100%;
}
.web ul li h4 {
	margin: 23px 18px 17px 22px;
	font-weight: 400;
	font-size: 14px;
	width: 187px;
	height: 37px;
}
.web .web_center div {
	font-size: 12px;
	margin-left: 21px;
}
.web .web_center span {
	color: #ff9159;
}

/*尾部*/
.footer {
	height: 416px;
}
.footer .footer_left {
	float: left;
	margin: 33px 0 0 19px;
	height: 154px;
	width: 434px;
}
.footer .footer_left p {
	margin-top: 25px;
	font-size: 12px;
}
.footer .footer_left a {
	display: block;
	margin-top: 15px;
	border: 1px solid #00A4FF;
	text-align: center;
	text-decoration: none;
	line-height: 34px;
	height: 34px;
	width: 118px;
	color: #00a4ff;
}
.footer dl {
	float: left;
	margin-left:146px ;
	list-style: none;
	font-size: 12px;
} 
.footer .dl1 {
	margin-left: 161px;
}
.footer dl dt {
	margin:34px 0 15px 0;
	font-size: 16px;
	color: #333;
}
.footer dl a {
	text-decoration: none;
	color: #333;
}
